.navbrand-def{
    color: black;
    font-size: 28px;
    font-weight: 600;
}
.navbtns{
    color: #7F7F7F;
    font-size: 16px;

}
.active-navbtn{
    color: black;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 14px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-size: cover;
}
.nav-link{
    text-decoration:none;
    color:black;
    margin-left: 3px;
}
.nav-item{
    color: black;
    cursor: pointer;
}
.home-sign-in-btn{
    background-color: #bfbfbf;
    color: black;
    font-size: 16px;
    border-radius: 25px;
}
.home-join-in-btn{
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 25px;
}

.home-sect1{
    background-color: #18191C;
    color: white;
    padding-top: 70px ;
    padding-bottom: 70px;
}

.home-sect1div1-p1{
    color: #979797;
}
.home-sect1div1-upbtn{
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 10px;
    font-weight: 500;
    border: none;
    margin-top: 3px;
    margin-bottom: 3px;
}
.home-sect1div1-postbtn{
    padding-top: 12px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 12px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #18191C;
    color: white;
    border: 2px solid white ;
    margin-top: 3px;
    margin-bottom: 3px;
}

.home-sect2{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 30px;
}

.homesect2row1{
    padding-top: 25px;
    padding-bottom: 25px;
}
.homesect2img-set {
    width: 20%; 
    max-width: 100px; 
}

.home-sect3{
    margin-top: 50px ;
    margin-bottom: 50px;
}

.home-sect3-row1{
    margin-top: 60px;
    margin-bottom: 60px;
}
.home-sect3-r1col1btn1 {
    background-color: white;
    color: black;
    padding: 10px 5px;
    border: 2px solid white;
    
    
}


/* Media query for mobile devices */
@media (max-width: 600px) {
    .home-sect3-row1 .col-md-6 {
        width: 100%;
    }
    .home-sect3-row1 .col-md-6 {
        margin-bottom: 20px; /* Add some space between stacked columns */
    }
}

/* .home-sect3-row1col1 {
    background-image: url("{% static 'homepage/images/registerbkimg.png' %}");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
} */


.home-sect4 {
    background-color: #F1F2F4 !important;
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-inner {
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .carousel-inner .row {
      flex-direction: column;
    }
  }
  
  
  .testimonial {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial p {
    font-size: 1.1rem;
    color: #555;
  }
  
  .testimonial h5 {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
  }
  
  .carousel-indicators li {
    background-color: #333;
  }
  
  .carousel-indicators .active {
    background-color: #555;
  }

  .home-sect5{
    background-color: #D9D9D9;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .home-sect5row1-col {
    background-color: #18191C;
    padding: 50px 75px;
    border-radius: 12px; /* For rounded corners */
    box-shadow: 0 9px 52px rgba(0, 0, 0, 0.9);
}

.card {
    background-color: #18191C;
    border-radius: 12px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
}

.text-white {
    color: #ffffff;
}

.btn-light {
    color: #000;
    font-weight: bold;
}

.card .fa-phone-alt, 
.card .fa-fax, 
.card .fa-envelope {
    margin-right: 8px;
    font-size: 1.2rem;
}


.footer-home {
    background-color: #18191C;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-hometext-color{
    color: #5E6670;
    
}
.footer-home h5, .footer-home h6 {
    font-weight: bold;
}

.footer-home a {
    transition: color 0.3s;
}

.footer-home a:hover {
    color: #f5a623;
}
