<footer class="footer-home">
    <div class="container">
        <div class="row ">
            <!-- Company Info -->
            <div class="col-md-3">
                <h5 class="text-white">Intervisio</h5>
                <p class="mb-1 footer-hometext-color">Call now: <strong class="text-white">(319) 555-0115</strong></p>
                <p class="footer-hometext-color">6391 Elgin St. Celina, Delaware 10299, New York, United States of America</p>
            </div>

            <!-- Quick Link -->
            <div class="col-md-2">
                <h6 class="text-white">Quick Link</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class=" text-decoration-none footer-hometext-color">About</a></li>
                    <li><a href="#" class=" text-decoration-none footer-hometext-color">Contact</a></li>
                    <li><a href="#" class=" text-decoration-none footer-hometext-color">AI Interview</a></li>
                    <li><a href="#" class=" text-decoration-none footer-hometext-color">Blog</a></li>
                </ul>
            </div>

            <!-- Candidate Links -->
            <div class="col-md-2">
                <h6 class="text-white">Candidate</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-hometext-color text-decoration-none">Browse Jobs</a></li>
                    <li><a href="#" class="footer-hometext-color text-decoration-none">Upload CV</a></li>
                    <li><a href="#" class="footer-hometext-color text-decoration-none">Candidate Dashboard</a></li>
                    <li><a href="#" class="footer-hometext-color text-decoration-none">Interviews</a></li>
                </ul>
            </div>

            <!-- Employers Links -->
            <div class="col-md-2">
                <h6 class="text-white">Employers</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-hometext-color text-decoration-none">Post a Job</a></li>
                    <li><a href="#" class="footer-hometext-color text-decoration-none">Browse Candidates</a></li>
                    <li><a href="#" class="footer-hometext-color text-decoration-none">Employers Dashboard</a></li>
                    <li><a href="#" class="footer-hometext-color text-decoration-none">Interviews</a></li>
                </ul>
            </div>

            <!-- Support Links -->
            <div class="col-md-2">
                <h6 class="text-white">Support</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-hometext-color text-decoration-none">FAQs</a></li>
                    <li><a href="#" class="footer-hometext-color text-decoration-none">Privacy Policy</a></li>
                    <li><a href="#" class="footer-hometext-color text-decoration-none">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
        <hr class="border-light">
        <div class="row">
            <div class="col-md-6 text-white">
                <p class="mb-0 footer-hometext-color">© 2024 Intervisio - AI Interviews and Job Portal. All rights Reserved</p>
            </div>
            <div class="col-md-6 text-end">
                <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-youtube"></i></a>
                <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>


</body>
</html>